[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BRETIGEA"]
	path = BRETIGEA
	url = https://github.com/andymckenzie/bretigea
[submodule "bayesbio"]
	path = bayesbio
	url = https://github.com/andymckenzie/bayesbio
